.square{
    width: 14%;
    height: 100px;
    padding: 0px;
    margin: 4px ;
    float: left;
    background-color: aqua;
}
body{
    background-image: url("ball.jpg");
    color: blue
    
}


.square13{
    width: 14%;
    height: 100px;
    padding: 0px;
    margin: 4px ;
    float: left;
    background: red;
}
.square2{
    width: 14%;
    height: 100px;
    padding: 0px;
    margin: 4px ;
    float: left;
    background:gold;
}


    